{{outlet}}

<h2 class="textCenter">{{t 'book.new'}}</h2>
<form>
  <div class="form-group">
    {{input value=title placeholder=(t 'book.title') class="form-control"}}
  </div>
  <div class="form-group">
    {{input value=author placeholder=(t 'book.author') class="form-control"}}
  </div>
  <div class="form-group">
    {{input value=cover placeholder=(t 'book.cover') class="form-control"}}
  </div>
  <img src={{cover}} alt={{t 'image.display.fail'}}>
  <br />
  <button {{action "createBook"}} class="btn btn-default">{{t 'actions.create'}}</button>
</form>
