{{outlet}}

<h2 class="textCenter">{{t 'book.new'}}</h2>

{{#paper-form as |form|}}
  <div class="layout-row">
    <div class="layout-column flex-50">
      {{form.input label=(t 'book.title') value=title onChange=(action (mut title)) required=true}}
      {{form.input label=(t 'book.cover') value=cover onChange=(action (mut cover))}}
    </div>
    <div class="layout-column flex-50">
      {{form.input label=(t 'book.author') value=author onChange=(action (mut author)) required=true}}
      {{form.input label=(t 'book.desc') value=description onChange=(action (mut description))}}
    </div>
  </div>
  <div class="layout-row">
    {{#form.submit-button raised=true primary=true onClick=(action 'createBook')}}{{t 'actions.create'}}{{/form.submit-button}}
  </div>
{{/paper-form}}
