{{outlet}}
<div id="pageButtons">
  <span class="flexSpace">
    {{#paper-button raised=true onClick=(action 'clearText')}}{{t 'clear.text'}}{{/paper-button}}
    {{#paper-button raised=true onClick=(action 'changeFont')}}{{t 'change.font'}}{{/paper-button}}
    {{#paper-button raised=true onClick=(action 'highlight') id="highbutton"}}{{t 'highlight.text'}}{{/paper-button}}
  </span>
</div>
<div id="pageInputs">
  <span class="flexSpace">
    {{t 'current.font'}}: <input id="fontFamily">
    {{t 'font.size'}}: <input id="fontSize">
    {{t 'highlighted.text'}}: <input id="highlightInput">
  </span>
</div>
<div class="container">
  <p contenteditable="true" id="textArea">complex</p>
</div>
