{{outlet}}
<button type="button" class="btn btn-info offset-top" id="buton" {{action "clearText"}}>{{t 'clear.text'}}</button>
<button type="button" class="btn btn-success offset-top" {{action "changeFont"}}>{{t 'change.font'}}</button>
<button type="button" class="btn btn-warning offset-top" id="highbutton" {{action "highlight"}}>{{t 'highlight.text'}}</button>
<span id="inputs">
{{t 'current.font'}}: <input id="fontInput">  {{fontVar.value "lol"}} {{textContent.length}}
{{t 'font.size'}}: <input id="fontInput2">
{{t 'highlighted.text'}}: <input id="highlightInput">
</span>
<div class="container" id="jeden">
  <p contenteditable="true" id="textArea">complex</p>
</div>
