
  {{#paper-toolbar as |toolbar|}}
     {{#toolbar.tools}}
       {{#link-to 'index'}}
         <h2>CoolWriter</h2>
       {{/link-to}}

       {{!-- {{#link-to 'pages'}}
         {{#paper-button raised=true}}{{t 'write.text'}}{{/paper-button}}
       {{/link-to}} --}}

       {{#if session.isAuthenticated}}
           {{#link-to 'books'}}
             {{#paper-button raised=true}}{{t 'books.trans'}}{{/paper-button}}
           {{/link-to}}
       {{/if}}

       <span class="flex"></span>

       {{#if session.isAuthenticated}}
         <span id='loginInfo'>{{t 'logged.in.as'}}: {{session.data.authenticated.profile.email}}</span>

         {{#paper-button raised=true onClick=(action 'logout')}}{{t 'sign.out'}}{{/paper-button}}
       {{else}}
         {{#paper-button raised=true onClick=(action 'login')}}{{t 'sign.in.google'}}{{/paper-button}}
       {{/if}}

     {{/toolbar.tools}}
   {{/paper-toolbar}}

  <main>
     {{outlet}}
  </main>

  {{#paper-form}}
  <div class="layout-row">
    {{form.input label="Favorite Letter" value=favoriteLetter onChange=(action (mut favoriteLetter)) required=true maxlength=1}}
  </div>
  <div class="layout-row">
  </div>
{{/paper-form}}
