{{#paper-toolbar as |toolbar|}}
     {{#toolbar.tools}}
       {{#link-to 'index'}}
         <h2>CoolWriter</h2>
       {{/link-to}}

       {{#if session.isAuthenticated}}
           {{#link-to 'books'}}
             {{#paper-button raised=true}}{{t 'books.trans'}}{{/paper-button}}
           {{/link-to}}
       {{/if}}

       <span class="flex"></span>

       {{#if session.isAuthenticated}}
         <span id='loginInfo'>{{t 'logged.in.as'}}: {{session.user.name}}</span>

         {{#paper-button data-test-logout-button raised=true onClick=(action 'logout')}}{{t 'sign.out'}}{{/paper-button}}
       {{else}}
         {{#paper-button data-test-login-button raised=true onClick=(action 'login')}}{{t 'sign.in.google'}}{{/paper-button}}
       {{/if}}

     {{/toolbar.tools}}
   {{/paper-toolbar}}

   {{#each model as |user|}}
    <h3> {{user.name}} - isAdmin: <u>{{user.isAdmin}}</u> </h3>
   {{/each}}

   {{#paper-button data-test-admin-toggler raised=true onClick=(action 'toggleAdmin')}}Toggle Admin{{/paper-button}}

  <main>
     {{outlet}}
  </main>

  {{#paper-form}}
  <div class="layout-row">
    {{form.input label="Favorite Letter" value=favoriteLetter onChange=(action (mut favoriteLetter)) required=true maxlength=1}}
  </div>
  <div class="layout-row">
  </div>
{{/paper-form}}
