
{{#link-to 'books.new'}}
  <button>{{t 'book.new'}}</button>
{{/link-to}}
<br>
<br>
{{#each model as |book index|}}
  <p>
    <b>{{increment index}}. <i>"{{book.title}}"</i></b> - {{book.author}} &nbsp; <button {{action 'deleteBook' book}}> Delete </button>
    <br />
    <img src={{book.cover}}>
  </p>
{{/each}}
{{outlet}}
