
{{#link-to 'books.new'}}
  <button>{{t 'book.new'}}</button>
{{/link-to}}
<br>
<br>
{{#each model as |book index|}}
  <p>
    <b>{{increment index}}.</b> {{t 'book.title'}}: {{book.title}},
    {{t 'book.author'}}: {{book.author}}
  </p>
{{/each}}
{{outlet}}
