
{{#link-to 'books.new'}}
  <button>{{t 'book.new'}}</button>
{{/link-to}}
<br>
<br>
{{#each model as |book index|}}
  <p>
    <b>{{increment index}}. <i>"{{book.title}}"</i></b> - {{book.author}} &nbsp; <button {{action 'deleteBook' book}}> {{t 'actions.delete'}} </button>
    <button {{action 'editBook' book}}> <span class="glyphicon glyphicon-trash"> {{t 'actions.edit'}} </span> </button>
    <span class='glyphicon glyphicon-trash' aria-hidden="true"></span>
    <br />
    <img src={{book.cover}} width="200" height="300">
  </p>
{{/each}}
<div class='outletMargin'>
  {{outlet}}
</div>
